/streamlit/dataset/Test.csv
/streamlit/dataset/Train.csv
/streamlit/dataset/Meta
/streamlit/dataset/Test
/streamlit/dataset/Train
/streamlit/dataset/Meta.csv
/streamlit/models/last_model.pkl
/streamlit/models/scaler_1812.joblib
